<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="QuickFix"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuickFixApp"
        tools:targetApi="31">
        <activity
            android:name=".shopOwner.AddServices"
            android:exported="false" />
        <activity
            android:name=".shopOwner.add_services"
            android:exported="false" />
        <activity
            android:name=".shopOwner.ShopServices"
            android:exported="false" />
        <activity
            android:name=".client.VerifyActivity"
            android:exported="false" />
        <activity
            android:name=".LandingPage"
            android:exported="false" />
        <activity
            android:name=".shopOwner.ShopMainActivity"
            android:exported="false" />
        <activity
            android:name=".client.ClientSignup"
            android:exported="false" />
        <activity
            android:name=".LandingActivity"
            android:exported="false" />
        <activity
            android:name=".client.ClientLogin"
            android:exported="false" />
        <activity
            android:name=".client.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>